.privacy-title {
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  color:#D5CB35;
  position:relative;
  left: 1.5em;
  top: 0.15em;
}
.privacy-body {
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color:#D5CB35;
  position:relative;
  left: 2.5em;
  top: -1em;
  width: 90em;
  column-count: 2;
  column-gap: 16em;
}