.about-title {
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: .85em;
  font-weight: bold;
  color:#D5CB35;
  position:relative;
  left: 1.5em; //this is causing page overflow
  top: 0.25em;
}
.about-body {
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#D5CB35;
  position:relative;
  left: 1.5em; //this is causing page overflow
  top:-1em;
  inline-size: 16em;
  overflow-wrap: break-word;
}

.about-everything {
  display: flex;
}

.about-bg {
    background-image: url('../../images/FruitBowl1.png');
    width:864px;
    height:589px;
    position:relative;
    top:-4.5em;
    left: 12em;
    background-size:cover;
    z-index: -1;
}

.view-products-btn button {
  border: none;
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#586336;
  background-color: #FEF27E;
  padding: 0.25em 1.5em;
  position: absolute;
  top: 23.5em;
  left: 2.75em;
  border-radius: 1em;
}
.view-products-btn button:hover {
  background-color: #D5CB35;
  color: #6B4615;
}