body {
  background-color: #6B4615;
  block-size:1920px 1080px;
}

.main-title {
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  color:#D5CB35;
  position:relative;
  left: 0.75em; //this is causing page overflow
  top: 0.75em;
}

.names-of-drinks {
  display: flex;
}
.orange-mango-label {
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#D5CB35;
  position:relative;
  left: 1.5em; //this is causing page overflow
  top: 1.5em;
}
.apple-strawberry-label {
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#D5CB35;
  position:relative;
  left: 6.85em; //this is causing page overflow
  top: 1.5em;
}
.mango-strawberry-label {
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#D5CB35;
  position:relative;
  left: 12.3em; //this is causing page overflow
  top: 1.5em;
}
.apple-grape-label {
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#D5CB35;
  position:relative;
  left: 18.25em; //this is causing page overflow
  top: 1.5em;
}
.grape-strawberry-label {
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#D5CB35;
  position:relative;
  left: 24.25em; //this is causing page overflow
  top: 1.5em;
}


.bottle-images {
  display: flex;
  position: absolute;
  top: 14.5em;
  left: -2.5em;
}

.orange-mango-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  margin-left: 6em; //was 5.5
  margin-right: 11.25em; //was 10.25
}
.apple-strawberry-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  margin-right: 13.25em;
}
.mango-strawberry-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  margin-right: 11.5em;
}
.apple-grape-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  margin-right: 11.75em;
}
.grape-strawberry-img {
  filter: drop-shadow(0.5em 0.5em 0.5em rgba(0,0,0,0.5));
  margin-right: 14.25em;
}


.add-to-cart-btn-container {
  height: 2em;
  position: relative;
  border: none;
  // outline: 10px solid red;
}
.add-to-cart-btn1 button {
  border: none;
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#586336;
  background-color: #FEF27E;
  padding: 0.25em 1.5em;
  position: absolute;
  top: 18.5em;
  left: 0.9em;
  border-radius: 1em;
    // outline: 10px solid red;
}
.add-to-cart-btn2 button {
  border: none;
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#586336;
  background-color: #FEF27E;
  padding: 0.25em 1.5em;
  position: absolute;
  top: 18.5em;
  left: 14em;
  border-radius: 1em;
}
.add-to-cart-btn3 button {
  border: none;
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#586336;
  background-color: #FEF27E;
  padding: 0.25em 1.5em;
  position: absolute;
  top: 18.5em;
  left: 28.25em;
  border-radius: 1em;
}
.add-to-cart-btn4 button {
  border: none;
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#586336;
  background-color: #FEF27E;
  padding: 0.25em 1.5em;
  position: absolute;
  top: 18.5em;
  left: 41.25em;
  border-radius: 1em;
}
.add-to-cart-btn5 button {
  border: none;
  font-family: Nunito, Quicksand, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color:#586336;
  background-color: #FEF27E;
  padding: 0.25em 1.5em;
  position: absolute;
  top: 18.5em;
  left: 54.5em;
  border-radius: 1em;
}
.add-to-cart-btn1 button:hover {
  background-color: #D5CB35;
  color: #6B4615;
}
.add-to-cart-btn2 button:hover {
  background-color: #D5CB35;
  color: #6B4615;
}
.add-to-cart-btn3 button:hover {
  background-color: #D5CB35;
  color: #6B4615;
}
.add-to-cart-btn4 button:hover {
  background-color: #D5CB35;
  color: #6B4615;
}
.add-to-cart-btn5 button:hover {
  background-color: #D5CB35;
  color: #6B4615;
}